@import "../../../main-styles.scss";
* {
  font-family: $nunito;
}

.container {
  background-repeat: no-repeat;
  background-image: url($vaultIconBackground);
  background-position: 22% 47%;
  background-size: 75% 200%;
  width: 100vw;
  height: 100vh;
}
.title{
  padding-top: 27px;
  padding-left: 27px;
  font-size: xx-large;
}
