@import "../../../main-styles.scss";
* {
  font-family: $nunito;
}

.container {
  background-repeat: no-repeat;
  background-image: url($vaultIconBackgroundZOOM);
  background-position: 9% 50%;
  background-size: 68% 100%;
  width: 100vw;
  height: 100vh;
}
.title{
  padding-top: 27px;
  padding-left: 27px;
  font-size: xx-large;
}
