<div class="passwordGens">
	<div class="title">
		<div
			class="option"
			[ngClass]="{ selected: mode == 'random' }"
			(click)="changeMode('random')"
		>
			Random Word Generator
		</div>
		<div
			class="option"
			[ngClass]="{ selected: mode == 'CHBS' }"
			(click)="changeMode('CHBS')"
		>
			Correct Horse Battery Staple
		</div>
	</div>
	<hr />
	<div style="display: flex;">
		<div class="passwordForm" *ngIf="mode === 'random'; else elseTemp">
			<div class="info">
				<h4>
					Generate a password with random characters
				</h4>
			</div>
			<form
				action=""
				[formGroup]="randomWords"
				(ngSubmit)="generatePassword()"
				method="post"
			>
				<div class="formGroup">
					<label for="" class="label" style="display: flex;">
						Password Length:
						<p
							style="color: red; margin-left: 1rem; font-style: italic;"
							*ngIf="
								(length.touched || length.dirty) &&
								length.errors &&
								!length.pristine
							"
						>
							Choose a length between 8 and 32
						</p>
					</label>
					<input
						type="number"
						[ngClass]="{
							invalid: (length.touched || length.dirty) && length.errors
						}"
						name="length"
						formControlName="length"
						id=""
					/>
				</div>
				<div formGroupName="options" class="opts">
					<div class="oo">
						<input
							type="checkbox"
							name=""
							formControlName="include_uppercase"
							id=""
						/>
						<label for="" class="label">
							Include Uppercase
						</label>
					</div>
					<div class="oo">
						<input
							type="checkbox"
							name=""
							formControlName="include_lowercase"
							id=""
						/>
						<label for="" class="label">
							Include Lowercase
						</label>
					</div>
					<div class="oo">
						<input
							type="checkbox"
							name=""
							formControlName="include_numbers"
							id=""
						/>
						<label for="" class="label">
							Include Numbers
						</label>
					</div>
					<div class="oo">
						<input
							type="checkbox"
							name=""
							formControlName="include_special"
							id=""
						/>
						<label for="" class="label">
							Include Special Characters
						</label>
					</div>
					<p
						style="color: red; margin: 1rem 0; font-style: italic;"
						*ngIf="options.errors"
					>
						Select at least one option
					</p>
				</div>
				<button type="submit" class="button">
					<img src="assets/Images/regen.png" alt="" srcset="" /> Generate
				</button>
			</form>
		</div>
		<ng-template #elseTemp>
			<div class="passwordForm">
				<div class="info">
					<h4>
						Generate a password with random words
					</h4>
				</div>
				<form
					action=""
					[formGroup]="CHBS"
					(ngSubmit)="generatePassword()"
					method="post"
				>
					<div class="formGroup">
						<label for="" class="label" style="display: flex;">
							Word Count:
							<p
								style="color: red; margin-left: 1rem; font-style: italic;"
								*ngIf="
									(word_length.touched || word_length.dirty) &&
									!word_length.valid
								"
							>
								Enter a word count between 10 and 40
							</p>
						</label>
						<input
							type="number"
							name="word_count"
							formControlName="word_count"
							id=""
						/>
					</div>
					<div class="formGroup">
						<label for="" class="label" style="display: flex;">
							Minimum length:
							<p
								style="color: red; margin-left: 1rem; font-style: italic;"
								*ngIf="
									(min_length.touched || min_length.dirty) && !min_length.valid
								"
							>
								Enter a word count between 10 and 40
							</p>
						</label>
						<input
							type="number"
							name="min_length"
							formControlName="min_length"
							id=""
						/>
					</div>
					<div class="formGroup">
						<label for="" class="label" style="display: flex;">
							Separator (Multiple values will be used randomly, try *&amp;^%$#!
							)
						</label>
						<input
							type="text"
							name="separator"
							formControlName="separator"
							id=""
						/>
					</div>
					<div class="opts">
						<div class="oo">
							<input
								type="checkbox"
								name=""
								formControlName="append_random"
								id=""
							/>
							<label for="" class="label">
								Append Random Number in the end between 0-9
							</label>
						</div>
						<div class="oo">
							<input
								type="checkbox"
								name=""
								formControlName="capitalize"
								id=""
							/>
							<label for="" class="label">
								Capitalize the first letter
							</label>
						</div>
					</div>
					<button type="submit" class="button">
						<img src="assets/Images/regen.png" alt="" srcset="" /> Generate
					</button>
				</form>
			</div>
		</ng-template>
		<div class="generatedPass" *ngIf="genPass">
			<div class="info">
				<img src="assets/Images/complete.png" alt="" />
				<h4>
					Password Succesfully Generated
				</h4>
			</div>
			<p class="passGen">
				{{ genPass }}
			</p>
			<div class="copy" (click)="copyToClipBoard()" style="color: green;">
				<img src="assets/Images/copy.png" alt="" srcset="" />
				Copy to Clipboard
			</div>
		</div>
	</div>
</div>
