.passwordGens {
	background-image: url("../../../assets/Images/time.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-position-x: 36rem;
	background-size: 49rem;
	.passwordForm {
		width: 40%;
		padding: 3rem 4rem;
		color: white;
		.info {
			font-size: 1.5rem;
			margin-bottom: 1.1rem;
			h4 {
				font-weight: 100;
			}
		}
		.opts {
			margin-top: 1rem;
			.oo {
				margin-bottom: 0.5rem;
				label {
					margin-left: 1rem;
				}
			}
		}
		.button {
			border-radius: 9px;
			display: flex;
			color: white;
			padding: 0.5rem;
			width: 8rem;
			box-shadow: 1px 1px 5px #282020;
			border: none;
			background-color: #1c1d2e;
			-webkit-box-align: center;
			align-items: center;
			margin-left: auto;
			transition: all 200ms ease;
			img {
				margin-right: 1rem;
				width: 2rem;
			}

			&:hover {
				cursor: pointer;
				background-color: #202235;
				box-shadow: 2px 1px 7px #5d606c82;
			}
		}
	}
	.title {
		padding: 0 1.5rem;
		display: flex;
		font-size: 1.2rem;
		height: 2.5rem;
		padding-top: 1.5rem;
		.option {
			&:hover {
				cursor: pointer;
			}
		}
		.option:first-child {
			margin-right: 1rem;
		}
		.selected {
			color: #fe5656;
			border-bottom: 3.5px solid #fe5656;
		}
	}

	.generatedPass {
		height: 17rem;
		width: 22rem;
		padding: 2rem 0;
		margin-top: 2rem;
		color: white;
		background-color: #3d1b58;
		margin-left: 10rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
		border-radius: 30px;
		box-shadow: 9px -3px 25px #00131699;
		.passGen {
			width: 100%;
			font-size: 1.1rem;
			text-align: center;
			margin: auto;
		}
		.info {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				height: 5rem;
				width: 5rem;
				background: #47196c;
				border-radius: 50%;
				margin-bottom: 1rem;
			}
		}
		.copy {
			background-color: #241332;
			margin-top: auto;
			width: 90%;
			padding: 1rem;
			display: flex;
			align-items: center;
			font-size: 1.2rem;
			justify-content: center;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			transition: all 500ms ease;
			img {
				width: 1.4rem;
			}
			&:hover {
				cursor: pointer;
				font-size: 1.3rem;
			}
		}
	}
}
