<div class="loginForm">
	<form [formGroup]="loginForm" (ngSubmit)="login()">
		<div class="title">
			<p>Welcome Back</p>
		</div>
		<div class="formGroup">
			<label for="Email"
				>Email
				<span
					class="invMsg"
					*ngIf="
						email.invalid &&
						(email.touched || email.dirty) &&
						email.errors.required
					"
				>
					This field is required
				</span>
				<span
					class="invMsg"
					*ngIf="
						email.invalid &&
						(email.touched || email.dirty) &&
						email.errors.email
					"
				>
					Please enter a valid email
				</span>
				<span
					class="invMsg"
					*ngIf="(email.touched || email.dirty) && (email.errors?.notFound)"
				>
					The email/password provided was invalid.
				</span>
			</label>
			<input
				type="email"
				id="Email"
				required
				formControlName="email"
				autocomplete="false"
				[ngClass]="{
					invalid: email.invalid && (email.touched || email.dirty) && (email.errors?.notFound)
				}"
			/>
		</div>
		<div class="formGroup">
			<label for="Password"
				>Password
				<span
					class="invMsg"
					*ngIf="
						password.invalid &&
						(password.touched || password.dirty) &&
						password.errors.required
					"
				>
					This field is required
				</span>
			</label>
			<input
				type="password"
				id="Password"
				required
				formControlName="masterPassword"
				autocomplete="false"
				[ngClass]="{
					invalid: password.invalid && (password.touched || password.dirty)
				}"
			/>
		</div>
		<div class="hintLink">
			<a href="#">Forgot Password?</a>
		</div>
		<div class="hintLink registerLink">
			Not registered? <a routerLink="/register">Create a free account here</a>
		</div>
		<div class="formGroup">
			<button type="submit" class="btn primary wide">
				Login
			</button>
		</div>
	</form>
</div>
