@import "../../../main-styles.scss";
.loginForm {
	margin-top: 155px;
	width: 474px;
	background-color: #292b2e;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 3px 17px 23px rgba(0, 0, 0, 0.35);
}

.loading {
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	text-align: center;
}

.title {
	font-size: xx-large;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
	text-align: center;
}

.hintLink {
	font-size: 14px;
	padding-top: 3px;
	color: #72767d;
}

.registerLink {
	padding-top: 36px;
}

@media(min-width:1500px){
	.loginForm{
		height: 25em;
	}
}

@media(max-width:1400px){
	.loginForm{
		height: 25em;
	}
}