@import "../../../main-styles.scss";

.welcomeDiv {
	color: white;
	padding: 3rem;
	display: flex;
	justify-content: space-between;

	.subtitle {
		font-size: 1rem;
	}
	.info {
		width: 35%;
		// transform: perspective(1.1cm) rotateY(-10deg);
		perspective: 1000px;
		height: 234px;
	}
	.glass-card {
		background: linear-gradient(
			176deg,
			rgba(117, 119, 122, 0.9951330874146533) 27%,
			rgba(0, 0, 0, 1) 96%
		);
		padding: 1rem;
		margin-bottom: 1rem;
		border-bottom: 4px solid rgba(0, 0, 0, 0.65);
		display: flex;
		align-items: center;
		border-radius: 8px;
		position: absolute;
		width: 96%;
		transition: all 500ms ease;
		transform: rotateY(-20deg) rotateX(15deg);

		&:nth-child(1) {
			z-index: 2;
			top: 0;
		}

		&:nth-child(2) {
			z-index: 1;
			top: 33%;
		}

		&:nth-child(3) {
			top: 68%;
		}
		&:hover {
			cursor: pointer;
			z-index: 3 !important;
			transform: rotateY(0) rotateX(0);
		}
		.ico {
			margin-right: 5px;
			img {
				width: 3rem;
			}
		}
	}

	.msg {
		display: flex;
		flex-direction: column;
		.getStarted {
			margin-top: 15px;
			display: flex;
			flex-direction: column;

			button {
				width: 8.5rem;
				margin-top: 18px;
				border-radius: 7px;
				display: flex;
				height: 4rem;
				align-items: center;
				padding: 9px;
				border: none;
				font-size: 1.1rem;
				font-weight: 900;
				text-transform: uppercase;
				transition: all 200ms ease-out;
				img {
					width: 3rem;
					height: 3rem;
					margin-right: 10px;
				}
				&:hover {
					cursor: pointer;
					transform: scale(1.09);
				}
				&:active {
					transform: scale(1);
				}
			}
		}
	}
}

.importOptions {
	margin-top: 3rem;
	padding: 1rem 3rem;
	display: flex;
	.import {
		background-color: #3d73dd;
		border-radius: 26px;
		padding: 1rem 1.5rem;
		width: 24%;
		box-shadow: inset 0px 7px 14px #00000047;
		&:last-child {
			margin-left: 2rem;
			background-color: #cc4f25;
		}
		.imgIco {
			justify-content: center;
			display: flex;
			position: absolute;
			background: white;
			height: 5rem;
			border-radius: 50%;
			width: 5rem;
			align-items: center;
			top: 23rem;
			left: 12rem;
			box-shadow: 2px 7px 11px #121213;
			img {
				width: 3.2rem;
				height: 3.2rem;
			}
		}
		.imgIco2 {
			left: 37rem;
		}
		.contents {
			margin-top: 1.6rem;
			text-align: center;
			h1 {
				color: white;
				text-transform: capitalize;
				font-weight: 100;
				font-size: 1.4rem;
			}
			.options {
				margin-top: 1.1rem;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				button:first-child {
					margin-right: 1.5rem;
				}
				button {
					border: none;
					background-color: #265abf;
					border-radius: 12px;
					padding: 0.8rem;
					img {
						width: 3rem;
						filter: grayscale(1);
						transition: all 250ms ease;
					}
					&:hover {
						cursor: pointer;
					}
					&:hover img {
						filter: grayscale(0);
						transform: scale(1.1);
					}
				}
				.info {
					color: white;
					background-color: #a13714;
					padding: 0.7rem 1.5rem;
					border-radius: 14px;
					display: flex;
					p:first-child {
						text-transform: uppercase;
						letter-spacing: 0.1rem;
						margin-right: 1.5rem;
					}
					p:last-child {
						font-size: 1.9rem;
					}
					&:first-child {
						margin-right: 1rem;
					}
					&:last-child {
						margin-top: 0.5rem;
					}
				}
			}
			.stats {
				margin-top: 0.1rem;
				width: 100%;
				text-align: left;
				display: flex;
				font-size: 1.1rem;
				span {
					color: white;
					margin-right: 0.2rem;
				}
				p {
					font-weight: 900;
					margin-left: 0.5rem;
				}
			}
		}
		&:last-child {
			width: 28%;
		}
	}
}
@media (max-width: 1400px) {
	.importOptions .import .contents .options .info {
		padding: 0.5rem 0.5rem;
	}
}
