<div class="welcomeDiv">
	<div class="msg">
		<h1 class="title">Welcome! To Data Vault</h1>
		<p class="subtitle">{{ data.email }}</p>
		<div class="getStarted">
			<span><strong>Start securing your data today.</strong></span>
			<button (click)="getSome()">
				<img src="assets/Images/cloud.png" alt="" />
				Start
			</button>
		</div>
	</div>
	<div class="info">
		<div class="glass-card">
			<div class="ico">
				<img src="assets/Images/shield.png" alt="" />
			</div>
			<p>
				Take control over your data by storing them with the highest level of
				security.
			</p>
		</div>
		<div class="glass-card">
			<div class="ico">
				<img src="assets/Images/easy.png" alt="" />
			</div>
			<p>Easy to use and control you data with cloud back up.</p>
		</div>
		<div class="glass-card">
			<div class="ico">
				<img src="assets/Images/doc.png" alt="" />
			</div>
			<p>Protect more than just your passwords.</p>
		</div>
	</div>
</div>
