@import "../../../main-styles.scss";

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
app-login-form {
	position: absolute;
	left: 57vw;
}
.title {
	margin: 25px 0 0 25px;
	font-size: xx-large;
}
.sideBanner {
	width: 143px;
	height: 100vh;
	background-image: url($vaultIconBackground);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position-x: 48%;
}
.blur {
	filter: blur(2px);
}
.sideBanner img {
	width: inherit;
	height: inherit;
}

#bitCanvas {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.loadingScreen {
	position: absolute;
	width: 100vw;
	height: 100vh;
	text-align: center;
	animation: comeIn 500ms ease-out 120ms;
}

@keyframes comeIn {
	from {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}

@media (max-width: 1400px) {
	app-login-form {
		left: 52vw;
	}
}

@media (min-width: 1500px) {
	app-login-form {
		left: 57vw;
	}
}
