/* You can add global styles to this file, and also import other style files */
@import "./main-styles.scss";

* {
  padding: 0;
  margin: 0;
  font-family: $nunito;
}
body {
  background-color: $background;
  height: 100%;
  width: 100%;
}
